@page
@using BusinessObjects.Models;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.StoreHomePage.ManageMachine.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_LayoutStore";
}
@{
    ViewData["Title"] = "Store";
    var store = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "store");

    if (store == null)
    {
        Layout = "Shared/_AdminError";
        return;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaundryMidlePlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaundryMidlePlatform.styles.css" asp-append-version="true" />
    </head>
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    h1 {
        text-align: center;
    }


    .navbar-brand {
        font-size: 24px;
    }

    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        margin-right: 10px;
    }

    .table {
        margin-top: 20px;
    }

    .table th {
        background-color: #333;
        color: #fff;
    }

    .table td {
        background-color: #f9f9f9;
    }

    .table a {
        text-decoration: none;
        margin-right: 10px;
    }
</style>
<body>
    <h1 class="text-center" style="margin-top: 20px"> <i class="fas fa-comment-dollar text-succes"></i> LauchDry Shop </h1>
    <p>
        <a class="btn btn-dark text-white" asp-page="Create"><i class="fas fa-random"></i>Create New Machine</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WashingMachine[0].MachineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WashingMachine[0].Performmance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WashingMachine[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WashingMachine[0].Store)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.WashingMachine) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performmance)
                </td>
                <td>
                   @{
                        string statusText = (item.Status == true) ? "READY" : "RUNNING";
                   }
                    @Html.DisplayFor(modelItem => statusText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Address)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MachineId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MachineId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MachineId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>