@page
@using BusinessObjects.Models;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.StoreHomePage.ManageOrder.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_LayoutStore";
}
@{
    ViewData["Title"] = "Store";
    var store = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "store");

    if (store == null)
    {
        Layout = "Shared/_AdminError";
        return;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaundryMidlePlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaundryMidlePlatform.styles.css" asp-append-version="true" />

    <style>
        body {
            font-family: sans-serif;
            background-color: #f0f0f0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        .navbar {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ccc;
        }

        .navbar-brand {
            color: #000;
        }

        .nav-link {
            color: #000;
            text-decoration: none;
        }

            .nav-link:hover {
                color: #fff;
                background-color: #ccc;
            }

    </style>
</head>
<body>
    <h1 class="text-center">Order Management</h1>

    @* <p>
    <a class="btn btn-success text-white" asp-page="CreateStore"><i class="fas fa-random"></i>Tạo Mới Cửa Hàng</a>
    </p>*@
    <div class="row justify-content-center">
        <form method="post" class="col-md-6">
            <div class="form-group row" style="margin-bottom: 15px;">
                <div class="col">
                    <label asp-for="StartDateTime" class="control-label text-center"></label>
                </div>
                <div class="col">
                    <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="StartDateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 15px;">
                <div class="col">
                    <label asp-for="EndDateTime" class="control-label text-center"></label>
                </div>
                <div class="col">
                    <input asp-for="EndDateTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="EndDateTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 15px;">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].Customer.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].FinishDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].Store)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.StoreName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:red;">Error: @Model.Error</span>
        </p>
    }
    @if (!string.IsNullOrEmpty(Model.Success))
    {
        <p class="text-center" style="margin: 12px 0;">
            <span style="color:green;"> @Model.Success</span>
        </p>
    }
</body>
</html>
