@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    body {
        background: #f1f1f1;
    }

</style>

<body>
    <div class="text-center">
        <h1 class="display-4" style="margin-bottom: 50px">Login</h1>
        <div style="align-items: center; width: max-content; margin-left: auto; margin-right: auto; ">
            <form method="post" style="">
                <div class="form-group" style="display: flex; align-items: center;">
                    <label asp-for="@Model.Email" for="email" style="margin-right: 10px; width: 100px">Email:</label>
                    <input asp-for="@Model.Email" type="email" class="form-control" id="email" name="email" placeholder="Email address" required style="flex: 1; max-width: 200px;">
                </div>
                <br />
                <div class="form-group" style="display: flex; align-items: center;">
                    <label asp-for="@Model.Password" for="password" style="margin-right: 10px; width: 100px">Password:</label>
                    <input asp-for="@Model.Password" type="password" class="form-control" id="password" name="password" placeholder="Password" required style="flex: 1; max-width: 200px;">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Login</button>
                <hr>
            </form>
            <h5 style="color: red">@Model.Error</h5>

        </div>
        <p>Don't have an account? <a asp-page="Register/Index">Register</a></p>
    </div>
</body>

