@page
@using BusinessObjects.Models;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.Stores.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "Shared/_AdminLayout";

}
@{
    ViewData["Title"] = "Admin";
    var admin = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "admin");

    if (admin == null)
    {
        Layout = "Shared/_AdminError";
        return;

    }
}
<style>
    h1 {
        font-family: "Your Font Name", sans-serif; /* Thay "Your Font Name" bằng tên phông chữ bạn muốn sử dụng */
        font-size: 36px; /* Điều chỉnh kích thước theo ý muốn của bạn */
        color: #333; /* Điều chỉnh màu sắc theo ý muốn của bạn */
    }

    h4 {
        font-family: "Your Font Name", sans-serif; /* Thay "Your Font Name" bằng tên phông chữ bạn muốn sử dụng */
        font-size: 24px; /* Điều chỉnh kích thước theo ý muốn của bạn */
        color: #666; /* Điều chỉnh màu sắc theo ý muốn của bạn */
    }
</style>
<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Phone)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Status)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./UpdateStore" asp-route-id="@Model.Store?.StoreId">Edit</a> |
    <a asp-page="./ViewAllStore">Quay lại danh sách </a>
</div>
