@page
@using BusinessObjects.Models;
@using DataAccess;
@using LaundryMidlePlatform.Pages.SessionHelpers;
@model LaundryMidlePlatform.Pages.Stores.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_AdminLayout";

}
@{
    ViewData["Title"] = "Admin";
    var admin = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "admin");

    if (admin == null)
    {
        Layout = "Shared/_AdminError";
        return;

    }
}


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">

</head>
<h1>
    <h3 style="background-color: #f5f5f5; text-align: center; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); color: #333; font-size: 24px;">Welcome come back: @Model.Email</h3>
</h1>

<p>
    <a class="btn btn-success text-white" asp-page="CreateStore"><i class="fas fa-random"></i>Tạo Mới Cửa Hàng</a>
</p>

<form method="post">
    
    <div class="input-group d-flex justify-content-end">
        <div class="form-outline">
            <input asp-for="@Model.StoreName" id="StoreName" name="StoreName" class="form-control" placeholder="Search Store" />
            
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<br />
<table  class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].WashingMachines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Store) {
            
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td style="text-align: center">
                    <p>@item.WashingMachines.Count</p>
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <text>Đang hoạt động</text>
                    }
                    else if (item.Status == false)
                    {
                        <text>Dịch vụ hỏng</text>
                    }
                </td>
            <td>
                    <a class="btn btn-info" asp-page="./UpdateStore" asp-route-id="@item.StoreId">Sửa</a> |
                    <a class="btn btn-primary" asp-page="./StoreDetails" asp-route-id="@item.StoreId">Chi tiết</a> |
                    <a class="btn btn-danger" asp-page="./DeleteStore" asp-route-id="@item.StoreId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
